#include "windows.h"
#include "resources.h"

1 ACCELERATORS
{
  VK_ESCAPE, IDM_ESCAPE_FULLSCREEN, NOINVERT, VIRTKEY
  "I", IDM_DEV_TOOLS, NOINVERT, CONTROL,SHIFT, VIRTKEY
  "R", IDM_ZOOM_RESET, NOINVERT, CONTROL, VIRTKEY
  VK_F12, IDM_BACKEND_DEV_TOOLS, NOINVERT, SHIFT, VIRTKEY
  "T",  IDM_NEW_TAB, NOINVERT, CONTROL, VIRTKEY
  "T",  IDM_NEW_PRIVATE_TAB, NOINVERT, CONTROL, VIRTKEY
  "O",  IDM_OPEN, NOINVERT, CONTROL, VIRTKEY
  "M",  IDM_MUTE_TAB, NOINVERT, CONTROL, VIRTKEY
  "W",  IDM_CLOSE_TAB, NOINVERT, CONTROL, VIRTKEY
  "S",  IDM_SAVE_PAGE, NOINVERT, CONTROL, VIRTKEY
  "P",  IDM_PRINT, NOINVERT, CONTROL, VIRTKEY
  "Q",  IDM_EXIT, NOINVERT, CONTROL, VIRTKEY
  VK_F11,  IDM_TOGGLE_FULLSCREEN, NOINVERT, VIRTKEY
  "V",  IDM_TOGGLE_VERTICAL_TABS, NOINVERT, ALT, VIRTKEY
  "B",  IDM_TOGGLE_BOOKMARKS, NOINVERT, ALT, VIRTKEY
  "S",  IDM_TOGGLE_STATUSBAR, NOINVERT, ALT, VIRTKEY
  "H",  IDM_SHOW_HISTORY, NOINVERT, CONTROL, VIRTKEY
  "O",  IDM_BOOKMARKS_MANAGE, NOINVERT, CONTROL, SHIFT, VIRTKEY
  "J",  IDM_DOWNLOADS, NOINVERT, CONTROL, VIRTKEY
  VK_F12,  IDM_DEV_TOOLS, NOINVERT, VIRTKEY
  VK_F1,  IDM_ABOUT, NOINVERT, VIRTKEY
}

