#include "windows.h"
#include "resources.h"

IDI_APP ICON "app.ico"
//IDI_BLANK ICON "blank.ico"

IDI_NEW_TAB ICON "new-tab.ico"
IDI_NEW_TAB_DARK ICON "new-tab-dark.ico"

IDB_BLANK BITMAP DISCARDABLE "blank.bmp"
IDB_BOOKMARKLET BITMAP DISCARDABLE "bookmarklet.bmp"
IDB_BOOKMARKS BITMAP DISCARDABLE "bookmarks.bmp"
IDB_FOLDER BITMAP DISCARDABLE "folder.bmp"

IDB_TOOLBAR_NAV BITMAP DISCARDABLE "toolbar-nav.bmp"
IDB_TOOLBAR_NAV_DISABLED BITMAP DISCARDABLE "toolbar-nav-disabled.bmp"
IDB_TOOLBAR_NAV_DARK BITMAP DISCARDABLE "toolbar-nav-dark.bmp"

IDB_TOOLBAR_TABS BITMAP DISCARDABLE "toolbar-tabs.bmp"
IDB_TOOLBAR_TABS_DARK BITMAP DISCARDABLE "toolbar-tabs-dark.bmp"

IDB_OVERFLOW BITMAP DISCARDABLE "overflow.bmp"
IDB_OVERFLOW_DISABLED BITMAP DISCARDABLE "overflow-disabled.bmp"
IDB_OVERFLOW_DARK BITMAP DISCARDABLE "overflow-dark.bmp"

IDB_TAB_CLOSE BITMAP DISCARDABLE "close_button.bmp"


ID_APP_VERSION_INFO VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "CompanyName", "59de44955ebd"
		VALUE "FileDescription", "SimpleBrowser"
		VALUE "FileVersion", "0.1.0.0)"
		VALUE "InternalName", "SimpleBrowser"
		VALUE "OriginalFilename", "SimpleBrowser.exe"
		VALUE "ProductName", "SimpleBrowser"
		VALUE "ProductVersion", "0,1,0,0"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}

ID_POPUP_MENU_TAB MENU
BEGIN
  POPUP "Popup"
  BEGIN
    MENUITEM "&Mute Tab", IDM_MUTE_TAB
    MENUITEM SEPARATOR
    MENUITEM "&Close Tab", IDM_CLOSE_TAB
    MENUITEM "Close &All Other Tabs", IDM_CLOSE_OTHER_TABS
    MENUITEM SEPARATOR
    MENUITEM "&Discard Tab", IDM_DISCARD_TAB
    MENUITEM "Discard All &Other Tabs", IDM_DISCARD_OTHER_TABS
    MENUITEM SEPARATOR
    MENUITEM "&Keep Tab loaded", IDM_KEEP_TAB_LOADED
  END
END

ID_POPUP_MENU_BOOKMARK MENU
BEGIN
  POPUP "Popup"
  BEGIN
    MENUITEM "Open in &New Tab", IDM_BOOKMARK_OPEN_NEW_TAB
    MENUITEM "Open in New &Private Tab", IDM_BOOKMARK_OPEN_NEW_PRIVATE_TAB
    MENUITEM SEPARATOR
    MENUITEM "&Copy", IDM_BOOKMARK_COPY
    MENUITEM SEPARATOR
    MENUITEM "&Edit Bookmark...", IDM_BOOKMARK_EDIT
    MENUITEM "&Delete Bookmark", IDM_BOOKMARK_DELETE
    MENUITEM SEPARATOR
    MENUITEM "&Manage Bookmarks", IDM_BOOKMARKS_MANAGE
  END
END

ID_POPUP_MENU_BOOKMARK_FOLDER MENU
BEGIN
  POPUP "Popup"
  BEGIN
    MENUITEM "&Rename Folder...", IDM_BOOKMARK_EDIT
    MENUITEM "&Delete Folder", IDM_BOOKMARK_DELETE
    MENUITEM SEPARATOR
    MENUITEM "&Manage Bookmarks", IDM_BOOKMARKS_MANAGE
  END
END

ID_POPUP_MENU_MANAGE_BOOKMARKS MENU
BEGIN
  POPUP "Popup"
  BEGIN
    MENUITEM "&Manage Bookmarks...", IDM_BOOKMARKS_MANAGE
  END
END

IDD_EDIT_BOOKMARK DIALOGEX 0,0,228,102
CAPTION "Edit Bookmark"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CLIPSIBLINGS|WS_CAPTION|WS_SYSMENU|DS_NOIDLEMSG|DS_MODALFRAME|DS_SETFONT|DS_3DLOOK|DS_ABSALIGN
EXSTYLE WS_EX_CONTROLPARENT|WS_EX_WINDOWEDGE|WS_EX_DLGMODALFRAME
BEGIN
  CONTROL "Name:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_NOPREFIX|0x00002000,7,9,168,9,WS_EX_NOPARENTNOTIFY
  CONTROL "",IDC_EDT_NAME,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,7,20,211,12,WS_EX_CLIENTEDGE

  CONTROL "URL:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_NOPREFIX|0x00002000,7,39,168,9,WS_EX_NOPARENTNOTIFY
  CONTROL "",IDC_EDT_URL,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,7,50,211,12,WS_EX_CLIENTEDGE

  CONTROL "OK",1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|WS_TABSTOP,107,82,53,14,WS_EX_NOPARENTNOTIFY
  CONTROL "Cancel",2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,165,82,53,14,WS_EX_NOPARENTNOTIFY
END

IDD_RENAME_BOOKMARK_FOLDER DIALOGEX 0,0,228,72
CAPTION "Rename Folder"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CLIPSIBLINGS|WS_CAPTION|WS_SYSMENU|DS_NOIDLEMSG|DS_MODALFRAME|DS_SETFONT|DS_3DLOOK|DS_ABSALIGN
EXSTYLE WS_EX_CONTROLPARENT|WS_EX_WINDOWEDGE|WS_EX_DLGMODALFRAME
BEGIN
  CONTROL "Name:",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_NOPREFIX|0x00002000,7,9,168,9,WS_EX_NOPARENTNOTIFY
  CONTROL "",IDC_EDT_NAME,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,7,20,211,12,WS_EX_CLIENTEDGE

  CONTROL "OK",1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|WS_TABSTOP,107,52,53,14,WS_EX_NOPARENTNOTIFY
  CONTROL "Cancel",2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,165,52,53,14,WS_EX_NOPARENTNOTIFY
END
